
DATABASE_URL= YOUR_DATABASE_URL_HERE

SUPABASE_URL= YOUR_SUPABASE_URL_HERE

SUPABASE_SERVICE_ROLE_KEY= YOUR_SUPABASE_SERVICE_ROLE_KEY_HERE

SUPABASE_SECRET_KEY= YOUR_SUPABASE_SECRET_KEY_HERE

PORT= YOUR_PORT_HERE

GOOGLE_CLIENT_ID=__INSERT_CLIENT_ID_HERE__

GOOGLE_CLIENT_SECRET=__INSERT_CLIENT_SECRET_HERE__